<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.AdmissionMajorRecordMapper">

    <insert id="insert" parameterType="com.example.entity.AdmissionMajorRecord" useGeneratedKeys="true" keyProperty="id">
        insert into admission_major_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="batchId != null">batch_id,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="schoolName != null">school_name,</if>
            <if test="schoolCode != null">school_code,</if>
            <if test="collegeName != null">college_name,</if>
            <if test="majorCode != null">major_code,</if>
            <if test="majorName != null">major_name,</if>
            <if test="researchDirection != null">research_direction,</if>
            <if test="examSubjects != null">exam_subjects,</if>
            <if test="scoreLine != null">score_line,</if>
            <if test="retestCount != null">retest_count,</if>
            <if test="admittedCount != null">admitted_count,</if>
            <if test="avgScore != null">avg_score,</if>
            <if test="minScore != null">min_score,</if>
            <if test="maxScore != null">max_score,</if>
            <if test="year != null">year,</if>
            <if test="sourceImage != null">source_image,</if>
            <if test="fileHash != null">file_hash,</if>
            <if test="confidence != null">confidence,</if>
            <if test="issues != null">issues,</if>
            <if test="reviewStatus != null">review_status,</if>
            <if test="reviewComment != null">review_comment,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="batchId != null">#{batchId},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="schoolName != null">#{schoolName},</if>
            <if test="schoolCode != null">#{schoolCode},</if>
            <if test="collegeName != null">#{collegeName},</if>
            <if test="majorCode != null">#{majorCode},</if>
            <if test="majorName != null">#{majorName},</if>
            <if test="researchDirection != null">#{researchDirection},</if>
            <if test="examSubjects != null">#{examSubjects},</if>
            <if test="scoreLine != null">#{scoreLine},</if>
            <if test="retestCount != null">#{retestCount},</if>
            <if test="admittedCount != null">#{admittedCount},</if>
            <if test="avgScore != null">#{avgScore},</if>
            <if test="minScore != null">#{minScore},</if>
            <if test="maxScore != null">#{maxScore},</if>
            <if test="year != null">#{year},</if>
            <if test="sourceImage != null">#{sourceImage},</if>
            <if test="fileHash != null">#{fileHash},</if>
            <if test="confidence != null">#{confidence},</if>
            <if test="issues != null">#{issues},</if>
            <if test="reviewStatus != null">#{reviewStatus},</if>
            <if test="reviewComment != null">#{reviewComment},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.AdmissionMajorRecord">
        update admission_major_record
        <set>
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="schoolName != null">school_name = #{schoolName},</if>
            <if test="schoolCode != null">school_code = #{schoolCode},</if>
            <if test="collegeName != null">college_name = #{collegeName},</if>
            <if test="majorCode != null">major_code = #{majorCode},</if>
            <if test="majorName != null">major_name = #{majorName},</if>
            <if test="researchDirection != null">research_direction = #{researchDirection},</if>
            <if test="examSubjects != null">exam_subjects = #{examSubjects},</if>
            <if test="scoreLine != null">score_line = #{scoreLine},</if>
            <if test="retestCount != null">retest_count = #{retestCount},</if>
            <if test="admittedCount != null">admitted_count = #{admittedCount},</if>
            <if test="avgScore != null">avg_score = #{avgScore},</if>
            <if test="minScore != null">min_score = #{minScore},</if>
            <if test="maxScore != null">max_score = #{maxScore},</if>
            <if test="year != null">year = #{year},</if>
            <if test="sourceImage != null">source_image = #{sourceImage},</if>
            <if test="fileHash != null">file_hash = #{fileHash},</if>
            <if test="confidence != null">confidence = #{confidence},</if>
            <if test="issues != null">issues = #{issues},</if>
            <if test="reviewStatus != null">review_status = #{reviewStatus},</if>
            <if test="reviewComment != null">review_comment = #{reviewComment},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateReviewStatus">
        update admission_major_record
        set review_status = #{reviewStatus},
            review_comment = #{reviewComment}
        where id = #{id}
    </update>

    <select id="selectById" resultType="com.example.entity.AdmissionMajorRecord">
        select *
        from admission_major_record
        where id = #{id}
        limit 1
    </select>

    <select id="selectPage" resultType="com.example.entity.AdmissionMajorRecord">
        select *
        from admission_major_record
        <where>
            <if test="batchId != null">
                and batch_id = #{batchId}
            </if>
            <if test="batchNo != null and batchNo != ''">
                and batch_no like concat('%', #{batchNo}, '%')
            </if>
            <if test="schoolName != null and schoolName != ''">
                and school_name like concat('%', #{schoolName}, '%')
            </if>
            <if test="schoolCode != null and schoolCode != ''">
                and school_code = #{schoolCode}
            </if>
            <if test="collegeName != null and collegeName != ''">
                and college_name like concat('%', #{collegeName}, '%')
            </if>
            <if test="majorCode != null and majorCode != ''">
                and major_code = #{majorCode}
            </if>
            <if test="majorName != null and majorName != ''">
                and major_name like concat('%', #{majorName}, '%')
            </if>
            <if test="reviewStatus != null and reviewStatus != ''">
                and review_status = #{reviewStatus}
            </if>
            <if test="sourceImage != null and sourceImage != ''">
                and source_image like concat('%', #{sourceImage}, '%')
            </if>
            <if test="fileHash != null and fileHash != ''">
                and file_hash = #{fileHash}
            </if>
            <if test="year != null">
                and year = #{year}
            </if>
        </where>
        order by id desc
    </select>

</mapper>
