<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ApplyMapper">

    <select id="selectAll" resultType="com.example.entity.Apply">
        select apply.*, user.name as userName from apply
        left join user on apply.user_id = user.id
        <where>
            <if test="userId != null"> and apply.user_id = #{userId}</if>
            <if test="userName != null"> and user.name like concat('%', #{userName}, '%')</if>
            <if test="status != null"> and apply.status like concat('%', #{status}, '%')</if>
            <if test="firstUniversityId != null "> and (apply.first_university_id = #{firstUniversityId} or apply.second_university_id = #{secondUniversityId} or apply.third_university_id = #{thirdUniversityId})</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Apply">
        select * from `apply`
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from `apply`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Apply" useGeneratedKeys="true" keyProperty="id">
        insert into `apply`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="firstUniversityId != null">first_university_id,</if>
            <if test="firstSpecialtysId != null">first_specialtys_id,</if>
            <if test="firstStatus != null">first_status,</if>
            <if test="secondUniversityId != null">second_university_id,</if>
            <if test="secondSpecialtysId != null">second_specialtys_id,</if>
            <if test="secondStatus != null">second_status,</if>
            <if test="thirdUniversityId != null">third_university_id,</if>
            <if test="thirdSpecialtysId != null">third_specialtys_id,</if>
            <if test="thirdStatus != null">third_status,</if>
            <if test="status != null">status,</if>
            <if test="time != null">time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="firstUniversityId != null">#{firstUniversityId},</if>
            <if test="firstSpecialtysId != null">#{firstSpecialtysId},</if>
            <if test="firstStatus != null">#{firstStatus},</if>
            <if test="secondUniversityId != null">#{secondUniversityId},</if>
            <if test="secondSpecialtysId != null">#{secondSpecialtysId},</if>
            <if test="secondStatus != null">#{secondStatus},</if>
            <if test="thirdUniversityId != null">#{thirdUniversityId},</if>
            <if test="thirdSpecialtysId != null">#{thirdSpecialtysId},</if>
            <if test="thirdStatus != null">#{thirdStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="time != null">#{time},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Apply">
        update `apply`
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="firstUniversityId != null">
                first_university_id = #{firstUniversityId},
            </if>
            <if test="firstSpecialtysId != null">
                first_specialtys_id = #{firstSpecialtysId},
            </if>
            <if test="firstStatus != null">
                first_status = #{firstStatus},
            </if>
            <if test="secondUniversityId != null">
                second_university_id = #{secondUniversityId},
            </if>
            <if test="secondSpecialtysId != null">
                second_specialtys_id = #{secondSpecialtysId},
            </if>
            <if test="secondStatus != null">
                second_status = #{secondStatus},
            </if>
            <if test="thirdUniversityId != null">
                third_university_id = #{thirdUniversityId},
            </if>
            <if test="thirdSpecialtysId != null">
                third_specialtys_id = #{thirdSpecialtysId},
            </if>
            <if test="thirdStatus != null">
                third_status = #{thirdStatus},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>