<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UniversityCertificationMapper">

    <select id="selectAll" resultType="com.example.entity.UniversityCertification">
        select university_certification.*, university.name as universityName from university_certification
        left join university on university_certification.university_id = university.id
        <where>
            <if test="universityId != null"> and university_certification.university_id = #{universityId}</if>
            <if test="universityName != null"> and university.name like concat('%', #{universityName}, '%')</if>
            <if test="status != null"> and university_certification.status like concat('%', #{status}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.UniversityCertification">
        select * from `university_certification`
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from `university_certification`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.UniversityCertification" useGeneratedKeys="true" keyProperty="id">
        insert into `university_certification`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="universityId != null">university_id,</if>
            <if test="universityCode != null">university_code,</if>
            <if test="licenseImg != null">license_img,</if>
            <if test="qualificationsImg != null">qualifications_img,</if>
            <if test="status != null">status,</if>
            <if test="refuseReason != null">refuse_reason,</if>
            <if test="time != null">time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="universityId != null">#{universityId},</if>
            <if test="universityCode != null">#{universityCode},</if>
            <if test="licenseImg != null">#{licenseImg},</if>
            <if test="qualificationsImg != null">#{qualificationsImg},</if>
            <if test="status != null">#{status},</if>
            <if test="refuseReason != null">#{refuseReason},</if>
            <if test="time != null">#{time},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.UniversityCertification">
        update `university_certification`
        <set>
            <if test="universityId != null">
                university_id = #{universityId},
            </if>
            <if test="universityCode != null">
                university_code = #{universityCode},
            </if>
            <if test="licenseImg != null">
                license_img = #{licenseImg},
            </if>
            <if test="qualificationsImg != null">
                qualifications_img = #{qualificationsImg},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="refuseReason != null">
                refuse_reason = #{refuseReason},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>