<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UniversityMapper">

    <select id="selectAll" resultType="com.example.entity.University">
        select u.*, p.name as provinceName
        from university u
        left join areas p on p.id = u.province_id
        <where>
            <if test="name != null and name != ''"> and u.name like concat('%', #{name}, '%')</if>
            <if test="provinceId != null"> and u.province_id = #{provinceId}</if>
            <if test="schoolType != null and schoolType != ''"> and u.school_type = #{schoolType}</if>
            <if test="educationLevel != null and educationLevel != ''"> and u.education_level = #{educationLevel}</if>
            <if test="is985 != null"> and u.is_985 = #{is985}</if>
            <if test="is211 != null"> and u.is_211 = #{is211}</if>
            <if test="isDoubleFirstClass != null"> and u.is_double_first_class = #{isDoubleFirstClass}</if>
        </where>
        order by u.id desc
    </select>

    <delete id="deleteById">
        delete from `university`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.University" useGeneratedKeys="true">
        insert into `university`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="avatar != null">avatar,</if>
            <if test="provinceId != null">province_id,</if>
            <if test="address != null">address,</if>
            <if test="schoolType != null">school_type,</if>
            <if test="educationLevel != null">education_level,</if>
            <if test="is985 != null">is_985,</if>
            <if test="is211 != null">is_211,</if>
            <if test="isDoubleFirstClass != null">is_double_first_class,</if>
            <if test="officialWebsite != null">official_website,</if>
            <if test="description != null">description,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="provinceId != null">#{provinceId},</if>
            <if test="address != null">#{address},</if>
            <if test="schoolType != null">#{schoolType},</if>
            <if test="educationLevel != null">#{educationLevel},</if>
            <if test="is985 != null">#{is985},</if>
            <if test="is211 != null">#{is211},</if>
            <if test="isDoubleFirstClass != null">#{isDoubleFirstClass},</if>
            <if test="officialWebsite != null">#{officialWebsite},</if>
            <if test="description != null">#{description},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.University">
        update `university`
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="schoolType != null">
                school_type = #{schoolType},
            </if>
            <if test="educationLevel != null">
                education_level = #{educationLevel},
            </if>
            <if test="is985 != null">
                is_985 = #{is985},
            </if>
            <if test="is211 != null">
                is_211 = #{is211},
            </if>
            <if test="isDoubleFirstClass != null">
                is_double_first_class = #{isDoubleFirstClass},
            </if>
            <if test="officialWebsite != null">
                official_website = #{officialWebsite},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
