<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UniversityMapper">

    <select id="selectAll" resultType="com.example.entity.University">
        select university.*, areas.name as areasName from `university`
        left join areas on areas.id = university.areas_id
        <where>
            <if test="name != null"> and university.name like concat('%', #{name}, '%')</if>
            <if test="areasId != null"> and university.areas_id = #{areasId}</if>
            <if test="status != null"> and university.status like concat('%', #{status}, '%')</if>
            <if test="department != null"> and university.department like concat('%', #{department}, '%')</if>
            <if test="characters != null"> and university.characters like concat('%', #{characters}, '%')</if>
            <if test="level != null"> and university.level like concat('%', #{level}, '%')</if>
        </where>
        order by id desc
    </select>

    <delete id="deleteById">
        delete from `university`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.University" useGeneratedKeys="true">
        insert into `university`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="status != null">status,</if>

            <if test="areasId != null">areas_id,</if>
            <if test="address != null">address,</if>
            <if test="department != null">department,</if>
            <if test="characters != null">`characters`,</if>
            <if test="officialWebsite != null">official_website,</if>
            <if test="content != null">content,</if>
            <if test="mark != null">mark,</if>
            <if test="level != null">`level`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="status != null">#{status},</if>

            <if test="areasId != null">#{areasId},</if>
            <if test="address != null">#{address},</if>
            <if test="department != null">#{department},</if>
            <if test="characters != null">#{characters},</if>
            <if test="officialWebsite != null">#{officialWebsite},</if>
            <if test="content != null">#{content},</if>
            <if test="mark != null">#{mark},</if>
            <if test="level != null">#{level},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.University">
        update `university`
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="status != null">
                status = #{status},
            </if>

            <if test="areasId != null">
                areas_id = #{areasId},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="department != null">
                department = #{department},
            </if>
            <if test="characters != null">
                `characters` = #{characters},
            </if>
            <if test="officialWebsite != null">
                official_website = #{officialWebsite},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="mark != null">
                mark = #{mark},
            </if>
            <if test="level != null">
                `level` = #{level},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>